[MAIN]
extension-pkg-whitelist = django

[TYPECHECK]
generated-members = REQUEST, object, DoesNotExist

[MISCELLANEOUS]
init-import = no

[MESSAGES CONTROL]
disable = invalid-name, missing-function-docstring, line-too-long, trailing-whitespace, too-few-public-methods