<div class="activities">
  <div class="activities__header">
    <h2>Recent Activities</h2>
  </div>
  
  {% for message in roomMessages %}
    <div class="activities__box">
      <div class="activities__boxHeader roomListRoom__header">
        <a href="{% url 'user-profile' message.user.id %}" class="roomListRoom__author">
          <div class="avatar avatar--small">
            <img src="{{ message.user.avatar.url }}" />
          </div>
          
          <p>
            @{{ message.user.username }}<span>{{ message.created|timesince }} ago</span>
          </p>
        </a>

        {% if request.user == message.user %}
          <div class="roomListRoom__actions">
            <a href="{% url 'message-delete' message.id %}">
              {% include 'base/icons/x.html' %}
            </a>
          </div>
        {% endif %}
      </div>

      <div class="activities__boxContent">
        <p>
          Replied to post “<a href="{% url 'room' message.room.id %}">{{ message.room.name }}</a>”
        </p>
        
        <div class="activities__boxRoomContent">
          {{ message.body }}
        </div>  
      </div>
    </div>
  {% endfor %}
</div>
