<div class="topics">
  <div class="topics__header">
    <h2>Show Topics</h2>
  </div>

  <ul class="topics__list">
    <li>
      <a href="{% url 'home' %}" class="active">
        All<span>{{ roomCounter }}</span>
      </a>
    </li>

    {% for topic in topics %}
      <li>
        <a href="{% url 'home' %}?query={{ topic.name }}">
          {{ topic.name }}<span>{{ topic.room_set.all.count }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>

  <a href="{% url 'topics' %}" class="btn btn--link">
    More
    
    {% include 'base/icons/dropdown.html' %}
  </a>
</div>
